.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  background: #afd4c0;
}

.ContentContainer {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.ContentContainer--Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
.ContentContainer--Dashboard {
  background: #e5f4ec;
  height: calc(100vh - 60px);
  /* display: flex; */
  /* position: relative; */
}

.ContentContainer--Wizard {
  background: #e5f4ec;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  height: calc(100vh - 60px);
}
