.FormContainer {
  height: calc(100vh);
  padding: 80px 0 0 0;
  width: 30%;
}

.Form {
  z-index: 30;
  background: #3ad886;
  height: 100%;
  width: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  padding: 30px 10px;
}

.Form > img {
  height: 200px;
  margin: 15px 30px;
}

.Form > p {
  width: 90%;
  font-family: "Open Sans";
  font-size: 20px;
  margin: none;
}

.Form > input {
  width: 90%;
  /* margin: 5px 0; */
  /* height: 20px; */
  padding: 5px 5px;
  border-radius: 3px;
  border: none;
}

.ButtonsContainer {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0 0 0;
}

.ButtonsContainer > button {
  background: #ed6b5a;
  font-family: "Open Sans";
  padding: 1vh 2vw;
  border-radius: 3px;
  color: white;
}
